@tailwind base;
@tailwind components;
@tailwind utilities;
body
{
    background-color: #5366ff;
    background:linear-gradient(90deg,#0019d4 25%, #5366ff 50%, #0019d4 100%);
    
}
.animate{
    animation: slide 5s linear infinite;
}
@keyframes slide {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    90% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  .translate-x-minus-full {
    transform: translateX(-100%);
  }
  
  .translate-x-full {
    transform: translateX(100%);
  }
  .color{
    background:linear-gradient(90deg,#0019d4 0%, #5366ff 50%, #0019d4 100%);
  }