@tailwind base;
@tailwind components;
@tailwind utilities;
body
{
    background-color: #5366ff;
}
.animation{
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% {
        transform: scaleY(0%);
    }
    100% {
        transform: scaleY(100%);
    }
}