@tailwind base;
@tailwind components;
@tailwind utilities;
body
{
    background-color: #5366ff;
    background:linear-gradient(90deg,#0019d4 25%, #5366ff 50%, #0019d4 100%);
    
}
.shadow{

    box-shadow: 0px 0px 50px 20px rgba(0, 0, 255);


}
.animate2{
    animation: slide2 1s linear ;
}
.animate{
    animation: slide 5s linear ;
}
@keyframes slide2 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    90% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  .translate-x-minus-full {
    transform: translateX(-100%);
  }
  
  .translate-x-full {
    transform: translateX(100%);
  }